<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


   <listeners>
   <listener class-name="extendReportListner.ExtentReport1"/>
   
   </listeners>
   
   
  <test thread-count="5" name="Test1">
    <classes>
     <class name="testClass.TC_1"/>
     
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
    <classes>
    
      <class name="testClass.TC_2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
